PUBLIC_ADDRESS=rinzler-azahar.duckdns.org
PORT=3000
NODE_ENV=production
ADMIN_TOKEN="change_me_en_tres_long_token_aleatoire"
ADMIN_JWT_EXPIRY=1h

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=azahar
DB_PASSWORD="change_me"
DB_NAME=azahar_master

DISCORD_WEBHOOK_URL=

AUTO_BAN_THRESHOLD=3

ROOM_BINARY=/opt/azahar/azahar-room
ROOM_USERNAME=Rinzler
ROOM_TOKEN="change_me"
ROOM_API_URL=http://127.0.0.1:3000