PUBLIC_ADDRESS=localhost
PORT=3000
NODE_ENV=development
ADMIN_TOKEN="changeme"
ADMIN_JWT_EXPIRY=1h

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=""
DB_NAME=azahar_master

DISCORD_WEBHOOK_URL=

AUTO_BAN_THRESHOLD=3

ROOM_BINARY=
ROOM_USERNAME=Rinzler
ROOM_TOKEN=""
ROOM_API_URL=http://127.0.0.1:3000